@model UserBusinessTimeSheets

@{
    Layout = "_BusinessPageLayout";
}

<h2 class="text-center">@Model.Business.Header</h2>
<div class="col-sm-3"><img src="https://g3.dcdn.lt/images/pix/braskes-71413768.jpg" style="width:100%"></div>
<div class="container">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.Business.Product</div>
            <div class="panel-body">@Model.Business.Description<br></div>
        </div>
    </div>
    <div class="col-sm-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>(@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 1)?.From ?? Closed)</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 1)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 2)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 2)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 3)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 3)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 4)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 4)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 5)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 5)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 6)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 6)?.To ?? Closed</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 7)?.From ?? Closed</td>
                    <td>@Model.TimeSheets.FirstOrDefault(t => t.Weekday == 7)?.To ?? Closed</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="col-sm-4">
    <h3>Contacts</h3>
    <ul>
        <li>@Model.User.Name</li>
        <li>@Model.User.Surname</li>
        <li>@Model.Business.PhoneNumber</li>
    </ul>
</div>
